* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #222222, #3f3f4e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container {
    width: 500px;
    
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 2px #ff0080, 0 0 4px #ff0080, 0 0 6px #ff0080;
   
    text-align: center;
    padding: 30px;
    animation: neon-glow 2s infinite alternate;
}

@keyframes neon-glow {
    from {
        box-shadow: 0 0 2px #ff0080, 0 0 4px #ff0080, 0 0 1px #ff0080;
    }
    to {
        box-shadow: 0 0 3px #00FFFF, 0 0 5px #00FFFF, 0 0 4px #00FFFF;
    }
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.timer input {
    width: 100px;
    height: 100px;
    font-size: 32px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* background: linear-gradient(45deg, #ff6a00, #ff0000); */
    background: #287ff8;
    
    transition: all 0.3s ease;
}

.btn:hover {
    background: #639ae8;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}